.containerbody {
  padding: 10px;
 margin-top:3%;
}

input[type=text], select {
  width: 60%;
  padding: 9px 17px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


input[type=number], select {
  width: 60%;
  padding: 9px 17px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.errorMessage{
  color:red;
  margin-left:17%;
}

input[type=tel], select {
  width: 60%;
  padding: 9px 17px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=submit], select {
  width: 40%;
  padding: 9px 17px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit]:placeholder-shown {
  color:purple;
}

input[type=password], select {
    width: 60%;
    padding: 9px 17px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buybutton{
  padding: 9px 11px;
  width: 20%;
  border: none;
  border-radius: 10px;
  background: purple;
  color: white;
  float:right;
  cursor: pointer;
}

.cancelbutton {
  padding: 9px 11px;
  width: 20%;
  border: none;
  border-radius: 10px;
  background: purple;
  color: white;
  float:right;
  cursor: pointer;
  position:relative;
  margin-left:2%;
}

.countBox{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 0;
  background:none;
  border:none;
  width:41%;
}


.countButton {
font-size:13px;
color:#f63e4e;
padding:5px 7px;
font-weight:bold;
border:1px solid #f63e4e;
border-radius:0px;
}

.count{
  padding:3.7px 17px;
  width:5%;
  border:1px solid #f63e4e;
}
.countButton:hover{
cursor:pointer;
background-color:#f63e4e;
color:white;
}

.cancelbutton:hover {
  background-color:red;
}

.buybutton:hover {
  background-color:#c103c1;
}

.products{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(590px,1fr));
}
.card {
	width :90%;
	background:#f5f5f5;
  overflow:hidden;
  border-color:grey;
  padding:10px 10px;
  margin-left:5%;
  margin-top:4%;
  border-radius:7px;
  box-shadow: 0 10px 20px 0 grey;
}

.card:hover{
	box-shadow:0 4px 12px 0 purple;
}

.column1 img{
	height :250px;
	width:100%;
}
.column1 {
  float: left;
  width: 25%;
  padding: 7px 7px;
  margin-left:25px;
  margin-top:1%;
}

.innerBox {
  display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding:20px 20px;
  width:50%;
  margin-top:15%;
}
.btn{
	font-size:13px;
	color:#f63e4e;
	padding:10px 50px;
	font-weight:900;
	border:1px solid #f63e4e;
	border-radius:20px;
}
.btn:hover{
	cursor:pointer;
	background-color:#f63e4e;
	color:white;
}

.btn:active{
  cursor:pointer;
	background-color:#f63e4e;
	color:white;
}
.confirmOrderMsg{
  color:green;
  font-weight:1000;
	font-size:25px;
  padding: 15px 7px;
  margin-left:30%;
  top:2%;
}
.originalPrice {
  color:#f63e4e;
	font-size:17px;
	font-weight:bold;
  padding:0 20px;
  margin-top:1%;
}
.column2{
  float: left;
  width: 65%;
  padding: 7px 7px;
  margin-left:25px;
  margin-top:1%;
}
.column3 {
  float: left;
  width: 70%;
  padding: 7px 7px;
  margin-left:10%;
  margin-top:1%;
}
.description{
  margin-top:5px;
  color:rgb(44, 44, 44);
	padding: 5px 20px;
}
.title{
	font-weight:900;
	font-size:20px;
	color:black;
	padding:0 20px;
}
.subTitle{
  font-weight:700;
	font-size:17px;
	color:grey;
	padding:0 20px;
  margin-top:5px;
}

label{
  color:black;
  font-weight: bold;
}

.labelText {
  color:black;
  font-weight: bold;
  float:left;
  margin:13px 5px;
}
.specification{
  font-weight:500;
	font-size:14px;
	color:rgb(44, 44, 44);
	padding:0 20px;
  margin-top:5px;
}

.box{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 20px;
  margin-top:2%;
}
.price{
  color:#f63e4e;
	font-size:25px;
	font-weight:bold;
}

.header a{
  text-decoration: none;
  color:black;
  text-align:center;
  padding:12px 98px;
  border-right: 1px solid grey;
}
.header a:hover{
  color:white;
  background-color:purple;
}

.checkbox-train {
  display: flex;
  align-items: center;
}

.checkbox-container {
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.checkbox-container input[type="radio"] {
  display: none;
}

.checkbox-container label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 16px;
  color: #333;
}

.checkbox-container label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid purple;
  background-color: white;
  transition: all 0.3s ease;
}

.checkbox-container input[type="radio"]:checked + label:before {
  background-color: purple;
  border-color: purple;
}

.checkbox-container label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  transition: all 0.3s ease;
}

.checkbox-container input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.OfferContainer {
  overflow:hidden;
  background-color:inherit;
  border-color:grey;
  padding:10px 10px;
  left:5%;
  margin-top:4%;
  border-radius:7px;
  overflow:hidden;
  box-shadow: 0 2px 10px 0 grey;
}

.success-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #037603;
  border-radius: 50%;
  margin-left:45%;
  position: relative;
}

.success-icon::before {
  content: "\2714";
  font-size: 17px;
  color: #fff;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
