<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-NavigationBar></app-NavigationBar>
<div class="containerbody">

  <div class="products">
    <div *ngFor="let products of Products">
      <div class="card">
        <div class="column1">
        <!--<div class="img"><img src="{{image.thumbnail}}"></div>-->
          <div class="img">
            <img [src]="products.thumbnail"><br>
          </div>
        </div>

        <div class="column2">
          <label style="margin-left:49px;">Title : </label><input type="text" name="title" [(ngModel)]="title" value={{title}}><br>
          <label style="margin-left:21px;">SubTitle : </label><input type="text" [(ngModel)]="subTitle" value={{subTitle}}><br>
          <label style="margin-left:49px;">Spec : </label><input type="text" [(ngModel)]="specifications" value={{specifications}}><br>
          <label >Description : </label><input type="text" [(ngModel)]="description" value={{description}}><br>
          <label style="margin-left:10px;">Price (Rs) : </label><input type="text" class="originalPrice" style="color:black" [(ngModel)]="price" [value]="price"><br>
          <label style="margin-left:21px;">Offer % : </label><input type="text" class="originalPrice" [(ngModel)]="offerPercentage" value="{{offerPercentage}}"><br>
        <!--<div class="box">-->
          <label style="margin-left:1px;">Final Price : </label><input type="submit" class="originalPrice" [value]="price-(price*offerPercentage/100)|currency:'INR':'symbol':'1.0-0'"><br><br>
           <div class="innerBox">
                <button class="btn" (click)="deleteProduct(products)">Delete Product</button>
                <button class="btn" (click)="updateData(products)">Update</button>
                <button class="btn" (click)="cancelUpdate()">Cancel</button>
              </div>
            </div>
          </div>
       <!--</div>-->
      </div>
    </div>
</div>
