<app-NavigationBar></app-NavigationBar>
<div class="containerbody">

  <div class="header">
    <img src="/assets/Beauty/YourOffers.png">
  </div>

    <div class="header">
      <img src="/assets/Mobiles/Mobile-Offers.png">
      <div class="container">
        <h2>50% Off on Top Brands</h2>
        <h2>New Arrivals are Coming Soon..</h2>
        <a routerLink="Mobiles">
        <button class="button">Know More</button>
        </a>
      </div>
    </div>

    <div class="header">
      <img src="/assets/Beauty/SkinCare-Offers2.jpg">
      <div class="container">
        <h2>"For Healthy Clear Skin"</h2>
        <h2>Get Skin Care Products</h2>
        <h2>Upto 35% Off</h2>
        <a routerLink="SkinCare">
        <button class="button">Know More</button>
        </a>
      </div>
    </div>

    <div class="header">
      <img src="/assets/Fragrance/Fragrance-Offers.png">
      <div class="container" style="float:left">
        <h2>"Fragrance Makes You Unique"</h2>
        <h2>Choose Yours and get</h2>
        <h2>Upto 25% Off</h2>
        <a routerLink="Fragrance">
        <button class="button">Know More</button>
        </a>
      </div>
    </div>

</div>
<router-outlet></router-outlet>
